/* h1{
    color: brown;
} */

/* *{ this is set margin and padding for everyhting in all apfes with this css file imported
    margin: 0;
    padding: 0;
} */

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: lightgreen;
}

a:active{
    color: red;
}

/* a:visited{
    color: royalblue;
} */

body{
    background-color: #f9f9f9;
    /* background-image: url("./images/download.png"); */
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: normal;
    /* font: normal 16px Arial, Helvetica, san-serif; */
    line-height: 1.4em;
    margin: 1cm;
}
/* in div class is used to refer css if it going to used somewhere else 
if it is going to be used in one place alone use id(in div)
*/

.clr{
    clear: both;
}

.container{
    /* width: 1000px; */
    width: 80%;
    margin: auto;
    /* margin space outsdide the container */
    /* then(inside it) comes border */
    /* then padding and content */

}

.button{
    background-color: #333;
    color: blanchedalmond;
    padding: 10px 15px;
    border: none;
}

.button:hover{
    color: aqua;
    background-color: black;
}

.box-1{
    background-color: darkslategrey;
    color: white;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 5px red solid; /* you have to mention solid for border line to appear you can use dotted lin e etc*/
    margin: 50px 10px 5px 10px; /* all padding, margin , border can be set with short hands as well */
    border-width: 3px grey solid;
}

.box-1 h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: 800;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: .02em;
    word-spacing: 0.5em;
}

.box-2{
    border: 3px dotted grey;
    padding: 20px;
    margin: 20px 0;
}

.categories{
    border:1px #ccc solid;
    padding: 10px;
    border-radius: 15px;
}


.categories h2{
    text-align: center;
}

.categories ul{
    /* padding: 0; */
    padding-left: 200px;
    list-style: square;
    list-style: none;

}


.categories li{
    padding-bottom: 0px;
    border-bottom: dotted 1px #333;
    list-style-image: url("./images/download.png");
}

.myform{
    padding: 20px; /* this line seperated the form from other elements in the div */
}

.myform .form-group{
    padding-bottom: 0px;
}

.myform label{
    display: block;
}

.myform select{
    margin-bottom: 55px;
    width:  20%;
}

.myform input[type="text"], .myform textarea{
    padding: 6px;
    width: 50%;
}

/* .myform input[type="submit"]{
    background-color: #333;
    color: blanchedalmond; This is implemented at the top for all button type class
} */

.block{
    float: left;
    width: 33%;
    border: 1px solid #333;
    padding: 10px;
    box-sizing: border-box;
}

/* if it is id will have to use  */

#main-block{
    float: left;
    width: 70%;
    padding: 15px;
    box-sizing: border-box;
}

#sidebar{
    float: right;
    width: 30%;
    background-color: #333;
    color: #fff;
    padding: 15px;
    box-sizing: border-box;
}

.position-box{
    width:800px;
    height: 500px;
    border: 1px solid #000;
    margin-top: 30px;
    position: relative;
    background-image: url("./images/download.png");
    background-repeat: no-repeat;
    background-position: 100px 200px;
    background-position: center top; 
    /* background-position: ; */
}

.position-box h1{
    position: absolute;
    top:40px;
    left: 80px;
}

.position-box h2{
    position: absolute;
    bottom: 40px;
    right: 100px;
}

.fixed{
    position: fixed;
    top: 400px;
}

.list li:first-child{
    background: blue;
}

.list li:last-child{
    background-color: brown;
}

.list li:nth-child(4){
    background-color: darkblue;
}

/* .list li:nth-child(even){
    background-color: darkgreen;
} */